.navbar ul {
  display: none;
  background-color: #666;
  position: absolute;
  top: 100%;
}
.navbar li:hover ul { display: block; }
.navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar{
  height: 30px;
  background-color: #666;
  padding-left: 25px;
  min-width: 0;
}
.navbar li {

  margin-left: 300px;
  position: absolute;
  height: 100%;
  display: inline;

}
.navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.navbar ul li { float: none; }
.navbar li:hover { background-color: #f90; }

.navbar ul li:hover { background-color: #666; }

.leftmenu ul li:hover {
    border-radius: 10px;
    background-color: #f90;
}

.leftmenu{
    background-color: #666;
    padding-left: 25px;
    min-width: 0;
    position: absolute;
}
.leftmenu ul{
  display: none;
  background-color: #4f4f4f;
  position: absolute;
  left: 100%;
}
.leftmenu li{
  padding: 15px;
  display: block;
}
.leftmenu li ul{
    padding-left: 0;
}
.leftmenu ul li { float: none; }

.leftmenu li:hover ul {
    display: block;
    padding-top: 0px;
    position: absolute;
    margin-top: -30px;
    border-radius: 10px;
}

.leftmenu a{
  color: white;
  text-decoration: none;
}

.leftmenu li:hover{
    background-color: #f90;
    margin-left: 0;
}

body{
  background-color: #999999;
}

.imgmain{

    width: 180px;
	height: 220px;
    object-fit: contain;
    border-radius: 25px;
}

.leftimg{
    width: 300px;
    vertical-align: middle;
}


table{
    margin-left: 50px;
}
.foot{
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: #4f4f4f;
    width: 100%;
    height: 130px;

}

.foot td{
    margin-left: 50px;
}

.foot p{
    font-size: 80%;
    color: gainsboro;
}

.form{
    display: block;
    margin-top: 20px;
    left: 0;
}
.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}
.autor a{
    color: white;
    font-size: 100%;
    display: inline;
    right: 0;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    position: relative;

}
.pip h1{
    color: white;
    font-size: 30px;
}
.autor{
    float: right;
    display: inline;
    right: 0;
    font-size: 100%;
}
.formreg{
    position: center;
}
.window{
    margin-left: 10px;
    float: left;
    height: 420px;
    width: 250px;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 2px solid #fff; /* Белая рамка */
    border-radius: 25px;
    margin-bottom: 10px;
}
.maintable{
    position: static;
    margin-left: 150px;
    margin-top: 50px;

}
.imagi{
   margin-left: 20px;
}
.descr{
    margin-top: -10px;
    width: 220px;
    height: 250px;
    color: #3c3c3d;
    font-family: Yandex Sans Display Light;
    font-size: 16px;
}
.reg{
    padding: 50px 350px ;
}
.imagi a{
    text-decoration: none;
    color: black;
}
.imagi h1{
    font-family: Yandex Sans Display Light;
    font-size: 24px;
}
.prise{

    padding: 5px 5px -5px -5px;
    text-align: right;
    text-decoration: black;
}
.photo{
    margin-top: 5px;
    width: 180px;
	height: 220px;
    background-color: darkgray;
    margin-left: 10px;
    border-radius: 25px;

}
.fullpost{
    margin-left: 180px;
    margin-top: 40px;
    margin-right: 30px;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 2px solid #fff; /* Белая рамка */
    border-radius: 25px;
    min-height: 500px;
}
.fullimg{
    width: 300px;
    height: auto;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    border-radius: 25px;
}
.fullprise{
    float: right;
}
.fulldescription{
    width: 250px;
    height: auto;
}
.fulltitle{
    margin-left: 200px;
}
.fromprise{
    margin-left: -10px;
    width: 20px;
}