
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    {% load drug_tags %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'drugs/css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>drug catalog</title>
    <script>
        function Myfunction(){
            l1="";
            if (document.forms['idform'].elements['id1'].value) {
                location.href = location.href + 'from=' + document.forms['idform'].elements['id1'].value;
                l1= 'from=' + document.forms['idform'].elements['id1'].value;
            }
            if (document.forms['idform'].elements['id2'].value) {
                location.href = location.href +l1+ 'to=' + document.forms['idform'].elements['id2'].value;
            }
        }
    </script>

</head>
<body>

<ul class="navbar">
    {% if request.user.is_superuser %}
  <li><a href="{% url 'addpost'%}">Добавить</a></li>
    {% endif %}
  </li>
    {% if request.user.is_authenticated %}
        <p class="autor">{{user.username}} |<a href="{% url 'logout'%}">Выход</a></p>
    {% else %}
        <p class="autor"><a href="{% url 'register'%}">Регистрация</a>|<a href="{% url 'login'%}">Вход</a></p>
    {% endif %}
</ul>

<ul class="leftmenu">
  <li><a href="{%url 'drug'%}">Главная</a></li>
  <li><a href="#">Категории</a>
    <ul>
       {% show_categories %}
    </ul>
  </li>
  <li><a href="#">О нас</a></li>


     <form method="post" class="fromprise" name="idform">
        <p>
            <b>Цена</b>
            <input  type="number" placeholder="от" min="0" max="9000" name="id1">
            <input type="number" placeholder="до" min="0" max="9000" name="id2">
            <input type = "button" value="find" onclick="Myfunction()">
        </p>
     </form>




</ul>
{% block content %}
{% endblock %}
<div class="foot">
    <table class="pip">
        <tr>
            <td>
                <h1>Контакая информация</h1>
                <p> +375(33) 332-67-1</p>
                <p> +375(44) 528-86-87</p>
            </td>
            <td>
                <h1> Наши адреса </h1>
                <p> ул.Пролетарска 118а </p>
                <p> ул.Советская (Мир моды) </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>