
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {% load static %}
    {% load drug_tags %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link  rel="stylesheet" type="text/css" href="{% static 'drugs/css/style.css' %}"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>drug catalog</title>

</head>
<body overflow="hidden">

<ul class="navbar">
    <div class="cyberion">
        <a href="{%url 'drug'%}">Cyberion</a>
    </div>
    {% if request.user.is_superuser %}
         <li><a href="{% url 'addpost'%}">Добавить</a></li>
    {% endif %}

    {% if request.user.is_authenticated %}
        <p class="autor">{{user.username}} |<a href="{% url 'logout'%}">Выход</a></p>
    {% else %}
        <p class="autor"><a href="{% url 'register'%}">Регистрация</a>|<a href="{% url 'login'%}">Вход</a></p>
    {% endif %}
</ul>
{% load cache %}
{% cache 500 sidebar %}
<ul class="leftmenu">
  <li class="logo_category"><img  src="{% static 'drugs/icon/home.png' %}"><a href="{%url 'drug'%}">Главная</a></li>
  <li class="logo_category"><img  src="{% static 'drugs/icon/category.png' %}"><a href="#">Категории</a>
    <ul>
       {% show_categories %}
    </ul>
  </li>
  <li class="logo_category"><img  src="{% static 'drugs/icon/about_us.png' %}"><a href="#">О нас</a></li>


{% endcache %}

</ul>

<div>
    <div class="contwindow">
        {% block content %}
        {% endblock %}
    </div>
    <nav class="list-pages">
        <ul >
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p%}
                    <li class = "page-num-selected">{{p}}</li>
                {% elif p >= page_obj.number|add:-4 and p <= page_obj.number|add:5 %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>

                {% endif %}
            {% endfor %}
        </ul>
    </nav>
<div class="foot">
    <table class="pip">
        <tr>
            <td>
                <h1>Контакая информация</h1>
                <p> +375(33) 332-67-1</p>
                <p> +375(44) 528-86-87</p>
            </td>
            <td>
                <h1> Наши адреса </h1>
                <p> ул.Пролетарска 118а </p>
                <p> ул.Советская (Мир моды) </p>
            </td>
        </tr>
    </table>
</div>
    </div>
</body>
</html>