
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {% load static %}
    {% load drug_tags %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'drugs/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'drugs/css/telega-chat.css' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>drug catalog</title>

</head>
<body>

<ul class="navbar">
    <div class="cyberion">
        <h1>Cyberion</h1>
    </div>
    {% if request.user.is_superuser %}
  <li><a href="{% url 'addpost'%}">Добавить</a></li>
    {% endif %}
  </li>
    {% if request.user.is_authenticated %}
        <p class="autor">{{user.username}} |<a href="{% url 'logout'%}">Выход</a></p>
    {% else %}
        <p class="autor"><a href="{% url 'register'%}">Регистрация</a>|<a href="{% url 'login'%}">Вход</a></p>
    {% endif %}
</ul>

<ul class="leftmenu">
  <li class="logo_category"><img  src="../../static/drugs/icon/home.png"><a href="{%url 'drug'%}">Главная</a></li>
  <li><a href="#">Категории</a>
    <ul>
       {% show_categories %}
    </ul>
  </li>
  <li><a href="#">О нас</a></li>


      <form method="post" class="fromprise" name="idform">
         {% csrf_token %}
        <p>
            <b>Цена</b>
            <input  class="prisewindow" type="number" placeholder="от" min="0" max="9000" step="0.01" {% if min_prise %} value="{{ min_prise }}"{%endif%} name="id1">
            <input class="prisewindow" type="number" placeholder="до" min="0" max="9000" step="0.01" {% if max_prise %} value="{{ max_prise }}"{%endif%} name="id2">
            <input class="prisewindow" type = "submit" value="find">
        </p>
     </form>

</ul>


    <div class="logo_chat_block">
        <img class="logo_chat" src="../../static/drugs/icon/message_logo.png">
    </div>

    <script type="text/javascript" src="{% static 'drugs/js/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'drugs/js/telega-chat.js' %}"></script>
    <script>
        //триггер
        //например

        document.querySelector('.logo_chat').addEventListener('click',e=>{

            console.log('триггер');

            new TelegaChat().open()

        })

    </script>
<div>

        {% block content %}
        {% endblock %}

<div class="foot">
    <table class="pip">
        <tr>
            <td>
                <h1>Контакая информация</h1>
                <p> +375(33) 332-67-1</p>
                <p> +375(44) 528-86-87</p>
            </td>
            <td>
                <h1> Наши адреса </h1>
                <p> ул.Пролетарска 118а </p>
                <p> ул.Советская (Мир моды) </p>
            </td>
        </tr>
    </table>
</div>
    </div>
</body>
</html>