{% extends 'drugs/base.html' %}
{% block content %}
 <form method="post" name="idform">
         {% csrf_token %}
            <div class="poisk">
                <div class="poisk_prise">
                    <b>Цена</b>
                    <input  class="prisewindow" type="number" placeholder="от" min="0" max="9000" step="0.01" {% if min_prise %} value="{{ min_prise }}"{%endif%} name="id1">
                    <input class="prisewindow" type="number" placeholder="до" min="0" max="9000" step="0.01" {% if max_prise %} value="{{ max_prise }}"{%endif%} name="id2">
                    <button type = "submit" value="find"><img src="../../static/drugs/icon/search.png" width="20px"></button>
                </div>
                <div class="search">
                    <input placeholder="Shearch..." type="search"  {% if search %} value="{{search}}" {%endif%} name="search">
                    <button type = "submit" value="find"><img src="../../static/drugs/icon/search.png"></button>
                 </div>
            </div>
 </form>
<!--<form method="post" class="fromprise" name="idform2">-->
<!--         {% csrf_token %}-->
<!--        <p>-->
<!--            <b>Цена</b>-->
<!--            <input  class="prisewindow" type="number" placeholder="от" min="0" max="9000" step="0.01" {% if min_prise %} value="{{ min_prise }}"{%endif%} name="id1">-->
<!--            <input class="prisewindow" type="number" placeholder="до" min="0" max="9000" step="0.01" {% if max_prise %} value="{{ max_prise }}"{%endif%} name="id2">-->
<!--            <button class="prisewindow" type = "submit" value="find">find</button>-->
<!--        </p>-->
<!--</form>-->
<div class="maintable">
    {% for i in page_obj %}

            <div class="window">
            <div class="imagi">
                <div class="photo">
                    <a  href="{{i.get_absolute_url}}">
                        {% if i.img %}
                            <img  src="{{i.img.url}}" onerror="this.src='https://www.ixbt.com/img/x780x600/n1/news/2021/10/2/22459ff25f8eff76bddf34124cc2c85b16f4cd4a_large.jpg'" alt=" привет" class="imgmain" >
                        {% endif %}
                    </a>
                </div>
                <div>
                    <h1 >
                        <div class="prise">
                            <p>{{i.prise}}руб.</p>
                        </div>
                        <a  href="{{i.get_absolute_url}}">{{i.name}}</a>
                        {% if request.user.is_superuser %}
                            <a href="{{i.get_absolute_url}}edit">edit</a>
                        {% endif %}
                    </h1>
                </div >
                <div class="descr">
                    {% autoescape on %}
                        <p >{{i.description|linebreaks|truncatechars:80}}</p>
                    {% endautoescape %}

                </div>


            </div>
            </div>


    {% endfor %}
</div>

{% endblock %}