{% extends 'drugs/base.html' %}
{% block content %}
<>
<table class="maintable">
    {% for i in model %}

    <td>
    <li class="window">
            <table >

                <tr>
                    <a  href="{{i.get_absolute_url}}"><img  src="{{i.img.url}}" alt="" class="imgmain" ></a>
                </tr>
                <tr>
                    <h1 >
                        <a href="{{i.get_absolute_url}}">{{i.name}} </a>
                    </h1>
                </tr >
                <tr>
                    <p >{{i.description|linebreaks|truncatewords:15}}</p>
                </tr>
            </table>
     </li>
    </td>
    {% endfor %}
</table>
</div>
{% endblock %}